In [116]:
import pandas as pd

In [117]:
file_one = "Population_List.csv"

In [118]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [119]:
newDF = file_one_df[["NAME","STNAME","POPESTIMATE2018"]]

In [120]:
state_list = newDF["STNAME"].unique()

In [121]:
# Removing all State Level Information
cond = newDF['NAME'].isin(state_list) == True
newDF.drop(newDF[cond].index, inplace = True)
newDF.head(50)

                   NAME   STNAME  POPESTIMATE2018
1        Abbeville city  Alabama             2563
2       Adamsville city  Alabama             4325
3          Addison town  Alabama              724
4            Akron town  Alabama              330
5        Alabaster city  Alabama            33340
6      Albertville city  Alabama            21568
7   Alexander City city  Alabama            14467
8       Aliceville city  Alabama             2301
9          Allgood town  Alabama              622
10         Altoona town  Alabama              914
11       Andalusia city  Alabama             8735
12        Anderson town  Alabama              271
13        Anniston city  Alabama            21569
14            Arab city  Alabama             8321
15         Ardmore town  Alabama             1420
16            Argo town  Alabama             4306
17          Ariton town  Alabama              735
18           Arley town  Alabama              346
19         Ashford town  Alabama             2152
20         Ashland town  Alabama             1914
21        Ashville city  Alabama             2319
22          Athens city  Alabama            26247
23          Atmore city  Alabama             9354
24         Attalla city  Alabama             5799
25          Auburn city  Alabama            65738
26    Autaugaville town  Alabama              855
27            Avon town  Alabama              503
28          Babbie town  Alabama              600
29       Baileyton town  Alabama              624
30       Bakerhill town  Alabama              252
31           Banks town  Alabama              169
32     Bay Minette city  Alabama             9291
33  Bayou La Batre city  Alabama             2503
34      Bear Creek town  Alabama             1042
35        Beatrice town  Alabama              277
36       Beaverton town  Alabama              183
37            Belk town  Alabama              205
38          Benton town  Alabama               42
39           Berry town  Alabama             1098
40        Bessemer city  Alabama            26538
41     Billingsley town  Alabama              141
42      Birmingham city  Alabama           209880
43           Black town  Alabama              207
44    Blountsville town  Alabama             1657
45    Blue Springs town  Alabama               88
46            Boaz city  Alabama             9656
47         Boligee town  Alabama              297
48         Bon Air town  Alabama              114
49        Brantley town  Alabama              782
50           Brent city  Alabama             4772

In [122]:
#Function to Clean Data
def City_Cleaner(df,value):
    Bad_City_DF = df[df['NAME'].str.contains(value)]
    Bad_City_List = Bad_City_DF['NAME']
    cond = df['NAME'].isin(Bad_City_List) == True
    df.drop(df[cond].index, inplace = True)

In [123]:
City_Cleaner(newDF,"County")
City_Cleaner(newDF,"(pt.)")
City_Cleaner(newDF,"(balance)")
City_Cleaner(newDF,"metropolitan government")
City_Cleaner(newDF,"Balance of")

In [124]:
# Sort data by population largest to smallest
final_DF = newDF.sort_values(by=['POPESTIMATE2018'], ascending=False)

In [125]:
# Remove city duplicates
final_DF = final_DF.drop_duplicates(subset ="NAME", keep="first")

In [126]:
final_DF = final_DF.head(50)
final_DF

                          NAME                STNAME  POPESTIMATE2018
46586            New York city              New York          8398748
3090          Los Angeles city            California          3990456
10148             Chicago city              Illinois          2705994
71683             Houston city                 Texas          2325502
1510              Phoenix city               Arizona          1660272
66100        Philadelphia city          Pennsylvania          1584138
72159         San Antonio city                 Texas          1532233
3750            San Diego city            California          1425976
71459              Dallas city                 Texas          1345047
3820             San Jose city            California          1030119
71240              Austin city                 Texas           964254
5562         Jacksonville city               Florida           903889
71562          Fort Worth city                 Texas           895008
54088            Columbus city                  Ohio           892533
3222        San Francisco city            California           883305
15886        Indianapolis city               Indiana           876862
50662           Charlotte city        North Carolina           872498
48173           Hempstead town              New York           768103
76399             Seattle city            Washington           744955
4303               Denver city              Colorado           716492
5028           Washington city  District of Columbia           702455
28785              Boston city         Massachusetts           694583
72986             El Paso city                 Texas           682669
28991             Detroit city              Michigan           672662
61051            Portland city                Oregon           653115
71093             Memphis city             Tennessee           650618
59900       Oklahoma City city              Oklahoma           649021
43983           Las Vegas city                Nevada           644644
27964           Baltimore city              Maryland           602495
79651           Milwaukee city             Wisconsin           592025
46043         Albuquerque city            New Mexico           560218
1636               Tucson city               Arizona           545975
3403               Fresno city            California           530093
1500                 Mesa city               Arizona           508958
3704           Sacramento city            California           508529
6023              Atlanta city               Georgia           498044
39240         Kansas City city              Missouri           491918
49197          Brookhaven town              New York           482436
4333     Colorado Springs city              Colorado           472688
5745                Miami city               Florida           470914
50031             Raleigh city        North Carolina           469298
43023               Omaha city              Nebraska           468262
3514           Long Beach city            California           467354
75969      Virginia Beach city              Virginia           450189
27008  East Baton Rouge Parish             Louisiana           440956
27069         Jefferson Parish             Louisiana           434051
3141              Oakland city            California           429082
33076         Minneapolis city             Minnesota           425403
60035               Tulsa city              Oklahoma           400669
74041           Arlington city                 Texas           398112

In [127]:
City_List = list(final_DF["NAME"])
State_List = list(final_DF["STNAME"])
Output_List = []

In [128]:
for i in range(len(City_List)-1):
    TempList = [City_List[i],State_List[i], "USA"]
    Output_List.append(TempList)

In [129]:
Output_List

[['New York city', 'New York', 'USA'],
 ['Los Angeles city', 'California', 'USA'],
 ['Chicago city', 'Illinois', 'USA'],
 ['Houston city', 'Texas', 'USA'],
 ['Phoenix city', 'Arizona', 'USA'],
 ['Philadelphia city', 'Pennsylvania', 'USA'],
 ['San Antonio city', 'Texas', 'USA'],
 ['San Diego city', 'California', 'USA'],
 ['Dallas city', 'Texas', 'USA'],
 ['San Jose city', 'California', 'USA'],
 ['Austin city', 'Texas', 'USA'],
 ['Jacksonville city', 'Florida', 'USA'],
 ['Fort Worth city', 'Texas', 'USA'],
 ['Columbus city', 'Ohio', 'USA'],
 ['San Francisco city', 'California', 'USA'],
 ['Indianapolis city', 'Indiana', 'USA'],
 ['Charlotte city', 'North Carolina', 'USA'],
 ['Hempstead town', 'New York', 'USA'],
 ['Seattle city', 'Washington', 'USA'],
 ['Denver city', 'Colorado', 'USA'],
 ['Washington city', 'District of Columbia', 'USA'],
 ['Boston city', 'Massachusetts', 'USA'],
 ['El Paso city', 'Texas', 'USA'],
 ['Detroit city', 'Michigan', 'USA'],
 ['Portland city', 'Oregon', 'USA'],
 ['Memphis city', 'Tennessee', 'USA'],
 ['Oklahoma City city', 'Oklahoma', 'USA'],
 ['Las Vegas city', 'Nevada', 'USA'],
 ['Baltimore city', 'Maryland', 'USA'],
 ['Milwaukee city', 'Wisconsin', 'USA'],
 ['Albuquerque city', 'New Mexico', 'USA'],
 ['Tucson city', 'Arizona', 'USA'],
 ['Fresno city', 'California', 'USA'],
 ['Mesa city', 'Arizona', 'USA'],
 ['Sacramento city', 'California', 'USA'],
 ['Atlanta city', 'Georgia', 'USA'],
 ['Kansas City city', 'Missouri', 'USA'],
 ['Brookhaven town', 'New York', 'USA'],
 ['Colorado Springs city', 'Colorado', 'USA'],
 ['Miami city', 'Florida', 'USA'],
 ['Raleigh city', 'North Carolina', 'USA'],
 ['Omaha city', 'Nebraska', 'USA'],
 ['Long Beach city', 'California', 'USA'],
 ['Virginia Beach city', 'Virginia', 'USA'],
 ['East Baton Rouge Parish', 'Louisiana', 'USA'],
 ['Jefferson Parish', 'Louisiana', 'USA'],
 ['Oakland city', 'California', 'USA'],
 ['Minneapolis city', 'Minnesota', 'USA'],
 ['Tulsa city', 'Oklahoma', 'USA']]