In [3]:
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
from config2 import api_key
from pprint import pprint
from pandas_function import make_df

In [5]:

city_list = [['Beijing', 'Beijing', 'China'], ['Asheville', 'North Carolina', 'USA'], ['Austin', 'Texas', 'USA']]

make_df(city_list)

,City,State,Country,Longitude,Latitude,Air Quality,Temperature,Humidity,Pressure,Wind Speed,Date
0,Beijing,N/A,China,116.462153,39.941674,45,14,87,1026,1.00,2019-10-05
1,Asheville,North Carolina,USA,-82.583300,35.607500,51,16,82,1026,3.60,2019-10-05
2,Austin,Texas,USA,-97.760002,30.354200,33,23,83,1017,1.08,2019-10-05

In [5]:
def make_df(city_list):
    
    #We will be making a list of dictionaries that we will eventually turn into our dataframe
    dict_list = []
    
    #Loops through every city in the provided list. List format must be: [[city1, state1, country1], 
    #[city2, state2, country2]]. If it's a country without a state, just put the city name as the state in the list.
    #(Although some international cities have states.)
    for c in range(0, len(city_list)):
        
        #Locates the necessary info from the list.
        citi = city_list[c][0]
        state = city_list[c][1]
        country = city_list[c][2]
        
        
        #Builds our url.
        url = f"https://api.airvisual.com/v2/city?city={citi}&state={state}&country={country}&key="
        
        #Adds the api_key
        query_url = url + api_key

        #Pulls our response
        response = requests.get(query_url).json()
        
        #Only puts the state in the table if it's from the U.S.
        if country == 'USA':
            state = response['data']['state']
        else:
            state = 'N/A'
        
        #Pulls the necessary information (feel free to add or paramets)
        city = response['data']['city']
        country = response['data']['country']
        temperature = response['data']['current']['weather']['tp']
        air_qual = response['data']['current']['pollution']['aqius']
        humidity = response['data']['current']['weather']['hu']
        pressure = response['data']['current']['weather']['pr']
        wind_speed = response['data']['current']['weather']['ws']
        time = response['data']['current']['weather']['ts']
        
        #Takes all that information and puts it into a dictionary whcih we will then append to our dict_list.
        data_dict = {'City' : city, 'State' : state, 'Country' : country, 'Air Quality' : air_qual, 'Temperature' : temperature,
             'Humidity': humidity, 'Pressure' : pressure, 'Wind Speed' : wind_speed, 'Time' : time}
        dict_list.append(data_dict)
    
    #Turns our dict_list into a dataframe and returns it.
    dataframe = pd.DataFrame(dict_list)
    dataframe["Date"] = pd.to_datetime(air_df["Date"])
    dataframe["Date"] = dataframe["Date"].dt.date
    return dataframe

#This is where our opportunity to loop into our cities.
#Each city in the list must be formatted as [[city, state, country]]

,City,State,Country,Air Quality,Temperature,Humidity,Pressure,Wind Speed,Time
0,Beijing,N/A,China,137,26,57,1013,1.0,2019-10-03T02:00:00.000Z
1,Asheville,North Carolina,USA,61,20,88,1022,2.6,2019-10-03T02:00:00.000Z
2,Austin,Texas,USA,48,28,54,1014,3.6,2019-10-03T02:00:00.000Z