In [42]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import requests
from pprint import pprint
from census import Census
import numpy as np
import json
from config1 import api_key

In [43]:
url = "https://api.airvisual.com/v2/city?city="
city="Raleigh"
# Build query URL
query_url = url + city +"&state=North Carolina&country=USA&" + "&key=" + api_key

In [44]:
response = requests.get(query_url).json()
pprint(response)

{'data': {'city': 'Raleigh',
          'country': 'USA',
          'current': {'pollution': {'aqicn': 41,
                                    'aqius': 85,
                                    'maincn': 'p2',
                                    'mainus': 'p2',
                                    'ts': '2019-10-03T00:00:00.000Z'},
                      'weather': {'hu': 94,
                                  'ic': '01n',
                                  'pr': 1013,
                                  'tp': 27,
                                  'ts': '2019-10-03T00:00:00.000Z',
                                  'wd': 280,
                                  'ws': 1.87}},
          'location': {'coordinates': [-78.574203, 35.856098], 'type': 'Point'},
          'state': 'North Carolina'},
 'status': 'success'}

In [64]:
city_name = []
country_name = []
air_quality = []
humidity = []
pressure = []
temperature = []
wind_speed = []

# Select the variables
city_name.append(response["data"]["city"])
country_name.append(response["data"]["country"])
air_quality.append(response["data"]["current"]["pollution"]["aqius"])
humidity.append(response["data"]["current"]["weather"]["hu"])
pressure.append(response["data"]["current"]["weather"]["pr"])
temperature.append(response["data"]["current"]["weather"]["tp"])
wind_speed.append(response["data"]["current"]["weather"]["ws"])

In [67]:
weather_dict = {"City": city_name,
             "Country": country_name,
             "Air Quality": air_quality,
             "Humidity": humidity,
             "Pressure": pressure,
             "Temperature": temperature,
             "Wind Speed": wind_speed}

weather_df = pd.DataFrame(weather_dict)
weather_df

      City Country  Air Quality  Humidity  Pressure  Temperature  Wind Speed
0  Raleigh     USA           85        94      1013           27        1.87